:root {
    --cor-de-fundo: #121c22;
    --cor-secundaria: #859f9f;
    --cor-de-fundo-cabecalho: #1f2e34;
    --cor-destaque: #13aa87;
    --cor-titulo: #eaeef2;
    --cor-confirmada: #5dd4ce;
    --cor-missed: #ef6161;
    --cor-taken: #27cd5c;
}